body{width:500px;margin:20px auto 0 auto;padding:0 20px;}
body{font-family:Helvetica,Arial,sans-serif;color:#222;}
a{color:#666;text-decoration:none;}a:hover{color:#999;}
footer a{color:#ccc;}
p,ul,ol{font-size:13px;line-height:23px;}
header h1{margin-bottom:0;font-size:22px;border-bottom:1px solid #eee;padding-bottom:5px;}
header h2{font-size:16px;color:#555;font-weight:normal;font-family:Georgia, Cambira, serif;}
pre,code{font-family:Monaco,"Bitstream Vera Sans Mono",Consolas,Courier,monospace;font-size:12px;color:#333;background:#eee;padding:2px;}
footer{color:#888;}

.pl-c {
    color: #969896
}
.pl-c1,
.pl-s .pl-v {
    color: #0086b3
}
.pl-e,
.pl-en {
    color: #795da3
}
.pl-s .pl-s1,
.pl-smi {
    color: #333
}
.pl-ent {
    color: #63a35c
}
.pl-k {
    color: #a71d5d
}
.pl-pds,
.pl-s,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sra,
.pl-sr .pl-sre {
    color: #183691
}
.pl-v {
    color: #ed6a43
}
.pl-id {
    color: #b52a1d
}
.pl-ii {
    background-color: #b52a1d;
    color: #f8f8f8
}
.pl-sr .pl-cce {
    color: #63a35c;
    font-weight: bold
}
.pl-ml {
    color: #693a17
}
.pl-mh,
.pl-mh .pl-en,
.pl-ms {
    color: #1d3e81;
    font-weight: bold
}
.pl-mq {
    color: #008080
}
.pl-mi {
    color: #333;
    font-style: italic
}
.pl-mb {
    color: #333;
    font-weight: bold
}
.pl-md {
    background-color: #ffecec;
    color: #bd2c00
}
.pl-mi1 {
    background-color: #eaffea;
    color: #55a532
}
.pl-mdr {
    color: #795da3;
    font-weight: bold
}
.pl-mo {
    color: #1d3e81
}